/*CSS Background Property*/

body
{
	background-color:skyblue;
	background-repeat:no-repeat;
	background-position:right top;
	background-attachment:fixed;
}	

h1
{
	background-color:pink;
}