/*CSS External File*/

body
{
	margin-top:50px;
}

a
{
	text-decoration:none;
	color:black;
	font-size:20px;
}

.button1
{
	background-color:white;
	border:solid 2px black;
	padding:4px 8px;
	border-radius:20px;
}

.button1:hover
{
	background-color:#006737;
	color:white;
}

